<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774712274584-kd8an32qq5dvb2ia482s0qcdldt82j83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774712274584-kd8an32qq5dvb2ia482s0qcdldt82j83</string>
	<key>API_KEY</key>
	<string>AIzaSyCwN_J76x722WfQhO3s42_ntiyoiJY1stI</string>
	<key>GCM_SENDER_ID</key>
	<string>774712274584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.platfarm.Aftermint-moono</string>
	<key>PROJECT_ID</key>
	<string>aftermint-moono-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>aftermint-moono-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774712274584:ios:63f731f5d95ad20cce6aed</string>
</dict>
</plist>